@model Vuelos.Models.Vuelos
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modificacion</h2>

@using (Html.BeginForm("Save", "Modificacion"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.NumVuelo)
        @Html.TextBoxFor(m => m.NumVuelo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HorarioLlegada)
        @Html.TextBoxFor(m => m.HorarioLlegada, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LineaArea)
        @Html.TextBoxFor(m => m.LineaArea, new { @class = "form-control" })
    </div>


    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Demorado) Demorado
        </label>
    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

<script>


</script>