@model IEnumerable<Vuelos.Models.Vuelos>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Baja</h2>

<table id="vuelos" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Horario llegada</th>
        <th>Vuelo</th>
        <th>Linea Aerea</th>
        <th>Demorado</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    
    @foreach (var vuelos in Model)
    {
        <tr>
            <td>@vuelos.HorarioLlegada</td>
            <td>@vuelos.NumVuelo</td>
            <td>@vuelos.LineaArea</td>
                        

            @if (vuelos.Demorado == true)
            {
                <td>Si</td>
            }
            else
            {
                <td>No</td>
            }

            <td>
                <button data-vuelo-id="@vuelos.Id" class="btn-link js-delete">Delete</button>
            </td>
            
            

        </tr>
        
    }

    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        $(document).ready(function() {
            $("#vuelos").on("click",".js-delete",
                function () {
                    var button = $(this);
                    if (confirm("Esta seguro de borrar este vuelo?")) {
                        $.ajax({
                            url: "/api/Vuelos/" + button.attr("data-vuelo-id"),
                            method: "DELETE",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }

                });
        });


    </script>
}